@mixin moonclaw-background() {
  border: 6px solid transparent;
  border-image-source: url($borders);
  border-image-slice: 8 1 fill;
  border-image-outset: 0;
  border-image-repeat: round;
}
.list-controls {
  padding-top: 4px;
}
.topic-post article {
  border-top: none;
}
.topic-body {
  border-left: none;
  border-right: none;
}
#topic-footer-buttons {
  border-top: none;
}
.category-list .category-list-item,
.topic-list > tbody > tr:first-child td {
  @include moonclaw-background;
  border-image-slice: 8 1;
  border-width: 6px 0 0 0;
  border-image-outset: 1;
}
#navigation-bar {
  margin-bottom: 10px;
}
.list-controls .nav-pills .navigation-toggle {
  margin-bottom: 0;
}
