#reply-control {
  border-top: 1px solid $tertiary;
}
.list-controls {
  padding-top: 4px;
}
.topic-post article {
  border-top: none;    
}
.topic-body {
  border-left: none;
  border-right: none;
}
#topic-footer-buttons {
  border-top: none;
}
#topic-progress .bg {
  background-image: url($borders);
}
.topic-list>tbody,
.category-list {
    border-top: 1px solid $tertiary;
}
