//tiger stripes, horizontal...
.num.posts-map.posts,
.num.views,
.num.age.activity,
.category-list.with-topics .latest
{
    background-color: $quaternary;
}

//no tiger stripes on topic list
.latest-topic-list .num.posts-map.posts,
.latest-topic-list .num.views,
.latest-topic-list .num.age.activity {
    background-color: $header_background;
}
.topic-post>article {
    padding-left: 20px;
    margin-right: 320px;
    min-width: 712px;
}
@media (max-width: 1124px) {
  .topic-body {
    border-left: 1px solid transparent;
  }
}
.topic-status-info {
  max-width: 789px;
}

.topic-list-item .main-link::before {
    content: '';
    display: inline-block;
    height: 35px;
    width: 50px;
    background-image: url($unread);
}
.topic-list-item.visited .main-link::before {
    content: '';
    display: inline-block;
    height: 35px;
    width: 50px;
    background-image: url($read);
}
